{% extends 'base.html' %}
{% load static %}
<title>{% block title %} Questions {% endblock title %}</title>

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
{% endblock %}
<body>
    {% block body %}
        {% include 'polls/includes/header.html' %}
        {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
        </ul>

        {% else %}
        <p>No polls are available.</p>
        {% endif %}
        <a href="{% url 'polls:add_question' %}">add question</a>

    {% endblock body %}
</body>
</html>